h1 {
    color: blue;
    background-color: lavender;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}