body {
    background-color: #e6f2ff;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
h1 {
    color: blue;
    background-color: lavender;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 10px;
    display: flex;
}

p {
    color: darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    background-color: #f0f8ff;
}